<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace="br.com.erudio.mappers.CampanhaMobileMapper">
    

    <resultMap id="CampanhaMobileResult" type="CampanhaMobile">
        <result property="idCampanhaMobile"               	             	column="ID_DISPARO"/>
        <result property="descricaoCurta"    	                         	column="COD_CAMPANHA"/>
        <result property="descricaoLonga"   		                     	column="DATA_CAMPANHA"/>
        <result property="dataInicio"   	                             	column="STATUS_ULTIMA_EXEC"/>
        <result property="dataFim"   	                 	             	column="DATA_ULTIMA_EXEC"/>
        <result property="urlImagem"   	                 	             	column="DATA_ULTIMA_EXEC"/>
        <result property="generica"   	                 	             	column="DATA_ULTIMA_EXEC"/>
        <result property="emailsSeparadosPorVirgula"   	                 	column="DATA_ULTIMA_EXEC"/>
    </resultMap>
    <resultMap id="CampanhaMobileResult" type="CampanhaMobile">
        <result property="idCampanhaMobile"               	             	column="ID_DISPARO"/>
        <result property="descricaoCurta"    	                         	column="COD_CAMPANHA"/>
        <result property="descricaoLonga"   		                     	column="DATA_CAMPANHA"/>
        <result property="dataInicio"   	                             	column="STATUS_ULTIMA_EXEC"/>
        <result property="dataFim"   	                 	             	column="DATA_ULTIMA_EXEC"/>
        <result property="urlImagem"   	                 	             	column="DATA_ULTIMA_EXEC"/>
        <result property="generica"   	                 	             	column="DATA_ULTIMA_EXEC"/>
        <result property="emailsSeparadosPorVirgula"   	                 	column="DATA_ULTIMA_EXEC"/>
    </resultMap>
    
    <resultMap id="ProdutosResult" type="Produto">
        <result property="idProduto"               	             	        column="ID_DISPARO"/>
        <result property="idCategoria"   		                     	    column="DATA_CAMPANHA"/>
        <result property="codigoProduto"   	                             	column="STATUS_ULTIMA_EXEC"/>
        <result property="nomeProduto"   	                 	            column="DATA_ULTIMA_EXEC"/>
        <result property="nomeCategoria"   	                 	            column="DATA_ULTIMA_EXEC"/>
        <result property="preco"   	                 	             	    column="DATA_ULTIMA_EXEC"/>
        <result property="precoVenda"   	                 				column="DATA_ULTIMA_EXEC"/>
        <result property="inicioVigencia"   	                 			column="DATA_ULTIMA_EXEC"/>
        <result property="fimVigencia"   	                 				column="DATA_ULTIMA_EXEC"/>
        <result property="idParceiro"   	                 				column="DATA_ULTIMA_EXEC"/>
        <result property="percentualDesconto"   	                 		column="DATA_ULTIMA_EXEC"/>
        <result property="urlImagem"   	                 					column="DATA_ULTIMA_EXEC"/>
        <result property="nomeParceiro"   	                 				column="DATA_ULTIMA_EXEC"/>
        <result property="idSkuParceiro"   	                 				column="DATA_ULTIMA_EXEC"/>
        <result property="available"   	                 					column="DATA_ULTIMA_EXEC"/>
    </resultMap>
    
    <select id="listarCampanhas" resultMap="CampanhaMobileResult">
         SELECT
           *
        FROM
          ST_GC_DISPARO
        <if test="codigoDisparo != null and dataDisparo != null">
         	WHERE 
         		UPPER(COD_CAMPANHA) LIKE UPPER(#{codigoDisparo}) AND to_char(DATA_CAMPANHA,'dd/MM/yyyy') = #{dataDisparo}
      	</if>
      	<if test="codigoDisparo == null and dataDisparo != null">
        	WHERE
        		to_char(DATA_CAMPANHA,'dd/MM/yyyy') = #{dataDisparo}
      	</if>
      	<if test="codigoDisparo != null and dataDisparo == null">
      		WHERE 
        		UPPER(COD_CAMPANHA) LIKE UPPER(#{codigoDisparo})
      	</if>
      	ORDER BY DATA_CAMPANHA DESC
    </select>
    
    <select id="obterCampanha" resultMap="CampanhaMobileResult">
        SELECT
           *
        FROM
          ST_GC_DISPARO
        <if test="codigoDisparo != null and dataDisparo != null">
         	WHERE 
         		UPPER(COD_CAMPANHA) LIKE UPPER(#{codigoDisparo}) AND to_char(DATA_CAMPANHA,'dd/MM/yyyy') = #{dataDisparo}
      	</if>
      	<if test="codigoDisparo == null and dataDisparo != null">
        	WHERE
        		to_char(DATA_CAMPANHA,'dd/MM/yyyy') = #{dataDisparo}
      	</if>
      	<if test="codigoDisparo != null and dataDisparo == null">
      		WHERE 
        		UPPER(COD_CAMPANHA) LIKE UPPER(#{codigoDisparo})
      	</if>
      	ORDER BY DATA_CAMPANHA DESC
    </select>
    
    <select id="carregarProdutos" resultMap="ProdutosResult">
        SELECT
           *
        FROM
          ST_GC_DISPARO
        <if test="codigoDisparo != null and dataDisparo != null">
         	WHERE 
         		UPPER(COD_CAMPANHA) LIKE UPPER(#{codigoDisparo}) AND to_char(DATA_CAMPANHA,'dd/MM/yyyy') = #{dataDisparo}
      	</if>
      	<if test="codigoDisparo == null and dataDisparo != null">
        	WHERE
        		to_char(DATA_CAMPANHA,'dd/MM/yyyy') = #{dataDisparo}
      	</if>
      	<if test="codigoDisparo != null and dataDisparo == null">
      		WHERE 
        		UPPER(COD_CAMPANHA) LIKE UPPER(#{codigoDisparo})
      	</if>
      	ORDER BY DATA_CAMPANHA DESC
    </select>

    <insert id="salvarCampanha" parameterType="CampanhaMobile" useGeneratedKeys="true" keyProperty="id"  keyColumn="ID_PERFIL">
        INSERT INTO
            ST_GC_PERFIL (
                ID_PERFIL
              , ID_DISPARO
              , NOME_PERFIL
            ) VALUES (
                #{id}
              , #{idDisparo}
              , UPPER(#{nomePerfil})
            )
            <selectKey keyProperty="id" resultType="int" order="BEFORE">
           		SELECT SEQ_ST_GC_PERFIL.nextVal FROM dual
        	</selectKey>
    </insert>

    <insert id="vincularProdutosACampanha" useGeneratedKeys="true" keyProperty="id"  keyColumn="ID_PERFIL">
        INSERT INTO
            ST_GC_PERFIL (
                ID_PERFIL
              , ID_DISPARO
              , NOME_PERFIL
            ) VALUES (
                #{id}
              , #{idDisparo}
              , UPPER(#{nomePerfil})
            )
            <selectKey keyProperty="id" resultType="int" order="BEFORE">
           		SELECT SEQ_ST_GC_PERFIL.nextVal FROM dual
        	</selectKey>
    </insert>
    
    <update id="atualizarCampanha" parameterType="CampanhaMobile">
        UPDATE
          ST_GC_DESTAQUE
        SET
	        URL_LINK = #{urlLink}
	      , URL_IMAGEM = #{urlImagem}
        WHERE
          ID_DESTAQUE = #{id}
    </update>
    
    <delete id="excluirCampanha">
        DELETE FROM
        	ST_GC_DESTAQUE
        WHERE
          ID_DESTAQUE = #{idCampanha}
    </delete>
    
</mapper>